<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--方式一：构造方法实例化bean-->
    <bean id="bookDao" class="com.wuxianggujun.spring.dao.impl.BookDaoImpl"/>

    <!--方式二：使用静态工厂实例化bean-->
    <bean id="orderDao" class="com.wuxianggujun.spring.factory.OrderDaoFactory" factory-method="getOrderDao"/>


</beans>