<component name="libraryTable">
  <library name="mybatis.spring" type="repository">
    <properties maven-id="org.mybatis:mybatis-spring:2.0.7" />
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/org/mybatis/mybatis-spring/2.0.7/mybatis-spring-2.0.7.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>